@model IQueryable<Trainee.Models.Image>

<div class="boundary">

    <div class="content">
        <div class="menu col-lg-2 col-md-2">
            <ul>
                <div style="text-align:center;" class="dropdown">
                    <li><a href="/Home/Index"><b>Tất cả ảnh</b></a></li>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Chủ Đề
                        <span class="caret"></span>
                    </button>
                    @Html.Action("Header", "Home")
                </div>
            </ul>
        </div>

        <div class="main col-lg-8 col-md-8">
            @ViewBag.ex1;
            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@item.Link" alt="...">
                        <div class="caption">
                            <h3>@item.Imagename</h3>
                            <div><b>Chủ đề : </b>@item.Theme</div>
                            @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default col-lg-5">

                <div class="panel-content"><img src="@item.Link" alt=""></div>
                <div class="">@item.Imagename</div>
                <div class=""><b>Chủ đề : </b>@item.Theme</div>
            </div>*@
            }
        </div>

        <div class="main col-lg-2 col-md-2">
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li><a href="/Home/AddTheme">Thêm Chủ Đề</a></li>
            <li><a href="/Home/uploadImage">Thêm Ảnh</a></li>
        </div>

    </div>
    </div>


    @*<script>
            //const input = document.querySelector("input[type='file']");
            //input.addEventListener('change', function (e) {
            //    var data = new FormData()
            //    data.append('file', input.files[0])

            //    fetch('/Home/uploadImage', {
            //        method: 'post',
            //        body: data
            //    }).then(
            //        response => response.json()
            //    ).then(data => {
            //        console.log(data)
            //    }).catch(
            //        error => console.log(error)
            //    );
            //})
        </script>*@
